.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	background-color: #fff;
	padding: 25px;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	max-width: 1035px;
	width: 100%;
}

.list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.listItem {
	margin: 7px;
}
