.wrapper {
	position: fixed;
	left: 0;
	right: 0;
	bottom: -250px;
	/* bottom: -100%; */
	margin: auto;
	max-width: 800px;
	transition: bottom 0.4s;
}

.visible {
	bottom: 0;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.listItem {
	margin: 7px;
	margin-bottom: 0;
}
