.wrapper {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 800px;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.listItem {
	margin: 7px;
	margin-bottom: 0;
}
